#box{
    width: 200px;
    height: 200px;
    background-color: rgba(24, 122, 129, 0.705);
    transition: all .6s;
    display: flex;
}

#box:hover{
    width: 600px;
    height: 400px;
    background-color: rgb(255, 0, 0);
    border: solid;
    background: linear-gradient(to right, red 30%, white 30%, white 70%, red 30%);
    transform: translate(50px, 50px);
    transition: all .2s;


