body{
    background-color: rgba(76, 76, 76, 0.548);
}

header{
    background-color:rgba(21, 118, 150, 0.562);
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    
}

h2{
    background-color:rgb(157, 221, 172);
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

h3{
    background-color:rgba(244, 95, 3, 0.475);
    font-family: 'Shadows Into Light', cursive;
}

.grupoa li a{
    background-color: rgb(243, 179, 179);
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    font-size: 25px;
}

